<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<div class="grid wide">
    <div class="row">
        {{#each listRoom}}
        <div class="col l-3 m-3 c-3">
            <a href="/room/{{this}}" class="room">
                <div class="col l-7">
                    <span>Room {{this}}</span>

                </div>
                <div class="col l-3">
                    <div class="user__image">
                        {{!-- <img src="/img/icon-256x256.png" class="user__image-status" alt="">
                        <img src="/img/icon-256x256.png" class="user__image-status" alt=""> --}}
                    </div>
                </div>
            </a>
        </div>
        {{/each}}

    </div>
</div>
<div class="overlay" id="room-full">
    <div class="popup">
        <h3 class="popup__tile">Phòng đã đầy<i class="fas fa-check"></i></h3>
        <p class="popup__description">Vui lòng chọn phòng khác</p>
        <div class="pop__up-button">
            <a class="pop__up-button-exit">Đồng ý</a>
        </div>
    </div>
    <div class="overlay" id="room-not-found">
        <div class="popup">
            <h3 class="popup__tile">Không tìm thấy phòng<i class="fas fa-check"></i></h3>
            <p class="popup__description">Kiểm tra lại ID phòng!</p>
            <div class="pop__up-button">
                <a class="pop__up-button-exit">Đồng ý</a>
            </div>
        </div>