<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<div class="grid wide">
    <div class="row">
        <div class="col l-3 m-3 c-3">
            <a href="/room/1" class="room">
                <div class="col l-7">
                    <span>Room 1</span>

                </div>
                <div class="col l-3">
                    <div class="user__image">
                        <img src="/img/icon-256x256.png" class="user__image-status" alt="">
                        <img src="/img/icon-256x256.png" class="user__image-status" alt="">
                    </div>
                </div>
            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/2" class="room">
                <div class="col l-7">
                    <span>Room 2</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/3" class="room">
                <div class="col l-7">
                    <span>Room 3</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/4" class="room">
                <div class="col l-7">
                    <span>Room 4</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/5" class="room">
                <div class="col l-7">
                    <span>Room 5</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/6" class="room">
                <div class="col l-7">
                    <span>Room 6</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/7" class="room">
                <div class="col l-7">
                    <span>Room 7</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/8" class="room">
                <div class="col l-7">
                    <span>Room 8</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/9" class="room">
                <div class="col l-7">
                    <span>Room 9</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/10" class="room">
                <div class="col l-7">
                    <span>Room 10</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/11" class="room">
                <div class="col l-7">
                    <span>Room 11</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/12" class="room">
                <div class="col l-7">
                    <span>Room 12</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/13" class="room">
                <div class="col l-7">
                    <span>Room 13</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/14" class="room">
                <div class="col l-7">
                    <span>Room 14</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/15" class="room">
                <div class="col l-7">
                    <span>Room 15</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/16" class="room">
                <div class="col l-7">
                    <span>Room 16</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/17" class="room">
                <div class="col l-7">
                    <span>Room 17</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/18" class="room">
                <div class="col l-7">
                    <span>Room 18</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/19" class="room">
                <div class="col l-7">
                    <span>Room 19</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>
        <div class="col l-3 m-3 c-3">
            <a href="/room/20" class="room">
                <div class="col l-7">
                    <span>Room 20</span>
                </div>
                <div class="col l-3">
                    <div class="user__image">
                    </div>
                </div>

            </a>
        </div>

    </div>
</div>
<div class="overlay" id="room-full">
    <div class="popup">
        <h3 class="popup__tile">Phòng đã đầy<i class="fas fa-check"></i></h3>
        <p class="popup__description">Vui lòng chọn phòng khác</p>
        <div class="pop__up-button">
            <a class="pop__up-button-exit">Đồng ý</a>
        </div>
    </div>
    <div class="overlay" id="room-not-found">
        <div class="popup">
            <h3 class="popup__tile">Không tìm thấy phòng<i class="fas fa-check"></i></h3>
            <p class="popup__description">Kiểm tra lại ID phòng!</p>
            <div class="pop__up-button">
                <a class="pop__up-button-exit">Đồng ý</a>
            </div>
        </div>